<script>
    $(document).ready(() => {
        var table = $('#decks').DataTable({
            "columnDefs": [
                {{#if public}}
                    { "targets": 0, "width": "20%", "orderData": [0] },
                    { "targets": 1, "width": "15%", "orderData": [1] },
                    { "targets": 2, "width": "15%", "orderData": [2] },
                    { "targets": 3, "width": "15%", "orderData": [3] },
                    { "targets": 4, "width": "15%", "orderData": [4] },
                    { "targets": 5, "width": "20%", "orderData": [5] }
                {{else}}
                    { "targets": 0, "width": "20%", "orderData": [0] },
                    { "targets": 1, "width": "20%", "orderData": [1] },
                    { "targets": 2, "width": "20%", "orderData": [2] },
                    { "targets": 3, "width": "20%", "orderData": [3] },
                    { "targets": 4, "width": "15%", "orderData": [4], "orderable": false },
                    { "targets": 5, "width": "5%", "orderable": false }
                {{/if}}
            ],
            "fixedHeader": true,
            "orderCellsTop": true,
            "order": [[ 0, "asc" ]],
            "autoWidth": false,
            "initComplete": function() { 
                $('.deck-format').each((index, cellContent) => {
                    cellContent.innerText = FormatsEnum[cellContent.innerText].display;
                })

                $("#decks").show();

                var columnFormat = this.api().column(1);
                $('#decks_filter').prepend('<label id="selectFormatFilter">Format&nbsp;:&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                var select = $('<select class="filter"><option value=""></option></select>')
                    .appendTo('#selectFormatFilter')
                    .on('change', function() {
                        var val = $(this).val();
                        columnFormat.search(val ? '^' + $(this).val() + '$' : val, true, false).draw();
                    });

                columnFormat.data().unique().sort().each(function(d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                });

                var columnState = this.api().column(2);
                $('#decks_filter').prepend('<label id="selectStateFilter">État&nbsp;:&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                var select = $('<select class="filter"><option value=""></option></select>')
                    .appendTo('#selectStateFilter')
                    .on('change', function() {
                        var val = $(this).val();
                        columnState.search(val ? '^' + $(this).val() + '$' : val, true, false).draw();
                    });

                columnState.data().unique().sort().each(function(d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                });

            },
            "language": {
                "url": "/dependencies/dataTables/French.json"
            }
        });
    })
</script>

<div class="table-responsive-sm table-hover container-fluid">
    <table id="decks" class="table" style="display: none;">
        <thead class="thead-dark">
            <th>Titre</th>
            <th>Format</th>
            <th>État</th>
            {{#if public}}
                <th>Auteur</th>
            {{/if}}
            <th>Mise à jour</th>
            <th>Source</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#each decks}}
                <tr id={{this.deckId}}>
                    <th><a href='/decks/{{this.deckId}}'>{{this.title}}</a></th>
                    <td class='clickable-row' data-href='/decks/{{this.deckId}}' class="deck-format">{{this.format}}</td>
                    <td class='clickable-row' data-href='/decks/{{this.deckId}}'>{{this.state}}</td>
                    {{#if ../public}}
                        <td>{{this.userId}}</td>
                    {{/if}}
                    <td class='clickable-row' data-href='/decks/{{this.deckId}}'>{{{displayDate this.lastUpdateDate}}}</td>
                    <td class='clickable-row' data-href='/decks/{{this.deckId}}'>{{this.source}}</td>
                    <td style="text-align: center;"><div onclick="initDeleteModalContent(this)" data-deck-title="{{this.title}}" data-deck-id="{{this.deckId}}" class="delete-deck" data-toggle="modal" data-target="#deleteDeckModal"><i class="fas fa-trash"></i></div></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{> modals/delete_deck/delete_deck_modal}}