<script>
    $(document).ready(() => {
        formats = JSON.parse(JSON.stringify({{{stringifyIt formats }}}))
        Object.entries(formats).forEach(key => {
            $('#format').append('<option value="' + key[0] + '">' + key[1] + '</option>')
        });

        var table = $('#decks').DataTable({
            "columnDefs": [
                { "targets": 0, "width": "20%", "orderData": [0] },
                { "targets": 1, "width": "20%", "orderData": [1] },
                { "targets": 2, "width": "20%", "orderData": [2] },
                { "targets": 3, "width": "20%", "orderData": [3] },
                { "targets": 4, "width": "20%", "orderData": [4] },
            ],
            "fixedHeader": true,
            "orderCellsTop": true,
            "order": [[ 0, "asc" ]],
            "autoWidth": false,
            "initComplete": function() { 
                $('.deck-format').each((index, cellContent) => {
                    cellContent.innerText = formats[cellContent.innerText];
                })

                $("#decks").show();

                var columnFormat = this.api().column(1);
                $('#decks_filter').prepend('<label id="selectFormatFilter">Format&nbsp;:&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                var select = $('<select class="filter"><option value=""></option></select>')
                    .appendTo('#selectFormatFilter')
                    .on('change', function() {
                        var val = $(this).val();
                        columnFormat.search(val ? '^' + $(this).val() + '$' : val, true, false).draw();
                    });

                columnFormat.data().unique().sort().each(function(d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                });

                var columnState = this.api().column(2);
                $('#decks_filter').prepend('<label id="selectStateFilter">État&nbsp;:&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                var select = $('<select class="filter"><option value=""></option></select>')
                    .appendTo('#selectStateFilter')
                    .on('change', function() {
                        var val = $(this).val();
                        columnState.search(val ? '^' + $(this).val() + '$' : val, true, false).draw();
                    });

                columnState.data().unique().sort().each(function(d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                });

            },
            "language": {
                "url": "/dependencies/dataTables/French.json"
            }
        });
    })
</script>

<style>
    #createDeck:hover{
        background-color: #212529;
        color: white;
    }
</style>

<div class="row">
    <div class="col-8">
        <h1 class="text-left">
            Mes decks
        </h1>
    </div>
    <div class="col-4">
        <button id="createDeck" type="button" class="btn btn-default float-right" data-toggle="modal" data-target="#createDeckModal">
            <i class="fas fa-plus"></i>&nbsp;Créer un deck
        </button>
    </div>
</div>

<hr>
<div class="table-responsive-sm table-hover container-fluid">
    <table id="decks" class="table" style="display: none;">
        <thead>
            <th>Titre</th>
            <th>Format</th>
            <th>État</th>
            <th>Mise à jour</th>
            <th>Source</th>
        </thead>
        <tbody>
            {{#each decks}}
            <tr id={{this.deckId}}>
                <th><a href='/decks/{{this.deckId}}'>{{this.title}}</a></th>
                <td class='clickable-row' data-href='/decks/{{this.deckId}}' class="deck-format">{{this.format}}</td>
                <td class='clickable-row' data-href='/decks/{{this.deckId}}'>{{this.state}}</td>
                <td class='clickable-row' data-href='/decks/{{this.deckId}}'>{{this.lastUpdateDate}}</td>
                <td class='clickable-row' data-href='/decks/{{this.deckId}}'>{{this.source}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="modal fade" id="createDeckModal" tabindex="-1" role="dialog" aria-labelledby="createDeckModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDeckModalLabel">Créer un deck</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="newDeckForm" action="/user/decks" method="post">
                <div class="modal-body">
                    Veuillez renseigner les champs suivants.
                    <div class="mt-3"></div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">Titre</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="title" name="title" placeholder="Titre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="format" class="col-sm-3 col-form-label">Format</label>
                        <div class="col-sm-9">
                            <select id="format" name="format" class="form-control">
                                <option value="">Format</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="source" class="col-sm-3 col-form-label">Source</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="source" name="source" placeholder="Source">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="createDeckDismiss" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="createDeckValidate" class="btn btn-success">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>