<tbody>
    {{#each cards}}
        <tr id={{this._id}}>
            <th>{{this.collector_number}}</th>
            <th><a href='/cards/{{this._id}}' class="card-tooltip"
                   data-toggle="tooltip" data-placement="auto" title='<img id="cardImage" style="width:200px" src="/images/cards/{{this.set}}/{{this._id}}.jpg">'>
                   {{this.collector_number}}
                </a>
            </th>
            <th>{{this.name}}</th>
            <th>
                {{#if (and this.card_faces this.card_faces.0.side)}}
                    <a href="/cards/{{this._id}}" class="card-tooltip" 
                        data-toggle="tooltip" data-placement="right"
                        title='<img id="cardImage" style="width:200px" src="/images/cards/{{this.set}}/{{this._id}}_front.jpg"><img id="cardImage" style="width:200px" src="/images/cards/{{this.set}}/{{this._id}}_back.jpg">'>
                            {{this.name}}
                    </a>
                {{else}}
                    <a href="/cards/{{this._id}}" class="card-tooltip" 
                        data-toggle="tooltip" data-placement="right" title='<img id="cardImage" style="width:200px" src="/images/cards/{{this.set}}/{{this._id}}.jpg">'>
                        {{this.name}}
                    </a>
                {{/if}}
            </th>
            <td>{{this.cmc}}</td>
            <td class='clickable-row' data-href='/cards/{{this._id}}'>
                {{#if this.card_faces}}
                    {{#each this.card_faces}}
                        {{{replaceSymbols this.mana_cost ../../symbols}}}
                        {{#if this.mana_cost}}
                            {{#unless @last}}
                                <hr>
                            {{/unless}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    {{{replaceSymbols this.mana_cost ../symbols}}}
                {{/if}}
            </td>
            <td>
                {{{displayColor this.colors this.card_faces}}}
            </td>
            <td class='clickable-row' data-href='/cards/{{this._id}}'>{{formatRarity this.rarity}}</td>
            {{#if ../isCollection}}
                <td class='clickable-row' data-href='/cards/{{this._id}}'>{{this.set}}</td>
                <td class='clickable-row' style="text-align: center;" data-href='/cards/{{this._id}}'><img id="setLogo" src="/images/sets/{{{getSetLogo this.set ../sets}}}" class="img-responsive center-block" width="20px"></img></td>
                <td class="auto-update">
                    <div class="input-group">
                        <div class="input-group-prepend plus">
                            <span class="input-group-text"><i class="fas fa-plus"></i></span>
                        </div>
                        <input onchange="countChange(this, event)" type="text" class="w-auto form-control input-count" id="regular-{{this._id}}" name="{{this._id}}" value="0"/>
                        <div class="input-group-append minus">
                            <span class="input-group-text"><i class="fas fa-minus"></i></span>
                        </div>
                    </div>
                </td>
                <td class="auto-update">
                    <div class="input-group">
                        <div class="input-group-prepend plus">
                            <span class="input-group-text"><i class="fas fa-plus"></i></span>
                        </div>
                        <input onchange="countChange(this, event)" type="text" class="w-auto form-control input-count" id="foil-{{this._id}}" name="{{this._id}}" value="0"/>
                        <div class="input-group-append minus">
                            <span class="input-group-text"><i class="fas fa-minus"></i></span>
                        </div>
                    </div>
                </td>
            {{else}}
                <td class='clickable-row' data-href='/cards/{{this._id}}'>
                    {{#if this.card_faces}}
                        {{#each this.card_faces}}
                            {{{replaceSymbols this.oracle_text ../../symbols}}}
                            {{#unless @last}}<hr>{{/unless}}
                        {{/each}}
                    {{else}}
                        {{{replaceSymbols this.oracle_text ../symbols}}}
                    {{/if}}
                </td>
                {{#if ../decoded}}
                    <td onclick="toggleCardIsSelected(this, event)" class="user-action-links" style="text-align: center;">
                        <div class="deck-selector" style="display: inline">
                            <i class="far fa-square deck-selector-icon"></i>
                            <i class="far fa-check-square deck-selector-icon" id="add-this-to-deck-{{this._id}}" style="display: none;"></i>
                        </div>
                    </td>
                {{/if}}
            {{/if}}
        </tr>
    {{/each}}
</tbody>