<script>
    $(document).ready(() => {
        formats = JSON.parse(JSON.stringify({{{stringifyIt formats }}}))
        selectedFormat = "{{deck.format}}"
        Object.entries(formats).forEach(key => {
            if (key[0] === selectedFormat) {
                $('#format').append('<option selected value="' + key[0] + '">' + key[1] + '</option>')
            } else {
                $('#format').append('<option value="' + key[0] + '">' + key[1] + '</option>')
            }
        });

        states = JSON.parse(JSON.stringify({{{stringifyIt states }}}))
        selectedState = "{{deck.state}}"
        Object.entries(states).forEach(key => {
            if (key[0] === selectedState) {
                $('#state').append('<option selected value="' + key[0] + '">' + key[1] + '</option>')
            } else {
                $('#state').append('<option value="' + key[0] + '">' + key[1] + '</option>')
            }
        });
    });
</script>

<div class="row">
    <div class="col-8">
        <h1 class="text-left">
            Deck : {{ deck.title }}
        </h1>
    </div>
</div>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            Contenu du deck {{deck.cards}}
        </div>
        <div class="col-6">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="deckDetail-tab" data-toggle="tab" href="#deckDetail" role="tab" aria-controls="deckDetail" aria-selected="false">Informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="addCard-tab" data-toggle="tab" href="#addCard" role="tab" aria-controls="addCard" aria-selected="true">Ajouter des cartes</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show" id="addCard" role="tabpanel" aria-labelledby="addCard-tab">
                    <div class="mt-3"></div>
                    Ajouter des cartes au deck
                </div>
                <div class="tab-pane fade show active" id="deckDetail" role="tabpanel" aria-labelledby="deckDetail-tab">
                    <div class="mt-3"></div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">Titre</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="title" name="title" placeholder="Titre" value="{{deck.title}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="format" class="col-sm-3 col-form-label">Format</label>
                        <div class="col-sm-9">
                            <select id="format" name="format" class="form-control">
                                {{#if deck.format}}
                                    <option value="">Format</option>
                                {{else}}
                                    <option selected value="">Format</option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="state" class="col-sm-3 col-form-label">État</label>
                        <div class="col-sm-9">
                            <select id="state" name="state" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="source" class="col-sm-3 col-form-label">Source</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="source" name="source" placeholder="Source" value="{{deck.source}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="description" name="description" rows="3">{{ deck.description }}</textarea>
                        </div>
                    </div>
                    Créé le : {{ deck.creationDate }}
                    <br>
                    Mis à jour le : {{ deck.lastUpdateDate }}
                    <br>
                    Dérivé de : {{ deck.derivedFrom }}
                    <br>
                    Public : {{ deck.public }}
                </div>
            </div>
        </div>
    </div>
</div>