<script>
    {{#if user.decoded}}
        function editToDisplay(event) {
            toHide = $(event.target);
            toShow = $(toHide.parent().find('.show-edit').filter(div => $(div) != toHide)[0]);
            toShow.html(toHide.val());
            toShow.toggle();
            toHide.toggle();
        }
    {{/if}}

    $(document).ready(() => {
        formats = JSON.parse(JSON.stringify({{{stringifyIt formats }}}))
        selectedFormat = "{{deck.format}}"
        Object.entries(formats).forEach(key => {
            if (key[0] === selectedFormat) {
                $('#format').append('<option selected value="' + key[0] + '">' + key[1] + '</option>')
            } else {
                $('#format').append('<option value="' + key[0] + '">' + key[1] + '</option>')
            }
        });

        states = JSON.parse(JSON.stringify({{{stringifyIt states }}}))
        selectedState = "{{deck.state}}"
        Object.entries(states).forEach(key => {
            if (key[0] === selectedState) {
                $('#state').append('<option selected value="' + key[0] + '">' + key[1] + '</option>')
            } else {
                $('#state').append('<option value="' + key[0] + '">' + key[1] + '</option>')
            }
        });

        $('.deck-part').each(function (index) {
            if ($(this).html().trim() == "") {
                $(this).parent().attr('style', 'display: none')
            }
        })

        {{#if user.decoded}}
            $('.show-edit').on('click', function(event) {
                toHide = $(event.target);
                toShow = $(toHide.parent().find('.edit-toggle').filter(div => $(div) != toHide)[0]);
                toShow.toggle();
                toHide.toggle();
                if (toShow.is("input") || toShow.is("textarea")) {
                    toShow.focus();
                    tmpStr = toShow.val();
                    toShow.val('');
                    toShow.val(tmpStr);
                } else if (toShow.is("select")) {
                    dropDown(toShow);
                }
            })

            $('textarea.edit-toggle, input.edit-toggle').on('keydown', function(event) {
                if (event.which == 13 || event.keyCode == 13) {
                    editToDisplay(event);
                }
            })
        {{/if}}
    });
</script>

<div class="row">
    <div class="col-8">
        <h1 class="text-left">
            Deck : {{ deck.title }}
        </h1>
    </div>
    <div class="col-4">
        <button id="returnToDeckList" type="button" class="btn btn-default float-right" onclick="location.href='/user/decks'">
            <i class="far fa-list-alt"></i>&nbsp;Retour à la liste
        </button>
    </div>
</div>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-6" style="font-size: 11pt">
            <div class="deck-part-with-title">
                <b>Compagnon</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "COMPANION" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Commandant</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "COMMANDER" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Planeswalker</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Planeswalker" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Créatures</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Creature" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Éphémères</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Instant" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Rituels</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Sorcery" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Enchantements</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Enchantment" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Artefacts</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Artifact" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Terrains</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "Land" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
                <br/>
            </div>
            <div class="deck-part-with-title">
                <b>Side</b>
                <div class="deck-part">
                    {{#each (getDeckParts cards "SIDEBOARD" deck_parts)}}
                        {{> decks/detail/deck_line card=this symbols=../symbols}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="deckDetail-tab" data-toggle="tab" href="#deckDetail" role="tab" aria-controls="deckDetail" aria-selected="false">Informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="addCard-tab" data-toggle="tab" href="#addCard" role="tab" aria-controls="addCard" aria-selected="true">Ajouter des cartes</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show" id="addCard" role="tabpanel" aria-labelledby="addCard-tab">
                    <div class="mt-3"></div>
                    Ajouter des cartes au deck
                </div>
                <div class="tab-pane fade show active" id="deckDetail" role="tabpanel" aria-labelledby="deckDetail-tab">
                    <div class="mt-3"></div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3">Titre</label>
                        <div class="col-sm-9">
                            <input class="edit-toggle form-control" style="display: none" id="title" name="title" placeholder="Titre" value="{{deck.title}}">
                            <div class="edit-toggle show-edit w-100">{{deck.title}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="format" class="col-sm-3">Format</label>
                        <div class="col-sm-9">
                            <select id="format" name="format" onchange="editToDisplay(event);" style="display: none" class="form-control edit-toggle">
                                {{#if deck.format}}
                                    <option value="">Format</option>
                                {{else}}
                                    <option selected value="">Format</option>
                                {{/if}}
                            </select>
                            <div class="edit-toggle show-edit w-100">{{deck.format}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="state" class="col-sm-3">État</label>
                        <div class="col-sm-9">
                            <select id="state" name="state" onchange="editToDisplay(event);" style="display: none" class="form-control edit-toggle">
                            </select>
                            <div class="edit-toggle show-edit w-100">{{deck.state}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="source" class="col-sm-3">Source</label>
                        <div class="col-sm-9">
                            <input style="display: none" class="form-control edit-toggle" id="source" name="source" placeholder="Source" value="{{deck.source}}">
                            <div class="edit-toggle show-edit w-100">&nbsp;{{deck.source}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-3">Description</label>
                        <div class="col-sm-9">
                            <textarea style="display: none" class="form-control edit-toggle" id="description" name="description" rows="3">{{ deck.description }}</textarea>
                            <div class="edit-toggle show-edit w-100">{{deck.description}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="createdAt" class="col-sm-3">Créé le</label>
                        <div class="col-sm-9">
                            <div>
                                {{{displayDate deck.creationDate }}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="modifiedAt" class="col-sm-3">Mis à jour le</label>
                        <div class="col-sm-9">
                            {{{displayDate deck.lastUpdateDate }}}
                        </div>
                    </div>  
                    <div class="form-group row">
                        <label for="derivedFrom" class="col-sm-3">Dérivé de</label>
                        <div class="col-sm-9">
                            {{ deck.derivedFrom }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="public" class="col-sm-3">Public</label>
                        <div class="col-sm-9">
                            {{ deck.public }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>